*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    background-color: #111111;
    color: #6c6c6c;
    font-family: "Raleway", serif;                              
}



/*---------------------------------Estilos Header-------------------------------*/

#header-compra{
    grid-area: header;
}

.nav-notbg a{
    color: whitesmoke;
}

.nav-bg{
    background-color: whitesmoke;   
}

.nav-menu-collapse {
    height: auto;
    transition: height 0.5s ease-in-out; /* Transición suave para height */
}

#nav-logo{
    width: 120px;
}

.nav-bg #nav-icons i{
    color: #111111;
    font-size: 1.2rem;
}

.nav-notbg #nav-icons i{
    color: whitesmoke;
    font-size: 1.2rem;
}


.background-container{
    display: flex;
    flex-direction: column;
    background-image: url("../img/img-principal.jpg");
    height: 100vh;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.text-hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    color: white;
    padding: 2rem;

}

.text-hero h1{
    font-size: 4rem;
    font-family: "Shadows Into Light";
}

.text-hero h2{
    font-weight: 300;
}

.buttons{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.8rem;
}

.buttons a{
    background-color: #111214;
    font-size: 0.8rem;
    padding: 0.5rem 4rem;
    border-radius: 5%;
    border: 1px #57595d solid;
}
.buttons a:hover{
    background-color: rgba(17, 18, 20, 0.5);
}


/*MediaQueries - Hero Header--------------------------------*/
/*Para tablet*/
@media (max-width:769px) {
    .buttons{
        flex-direction: column;
        width: 70%;
        gap: 1rem;
    }
    .buttons a{
        text-align: center;
        border-radius: 7px;
        font-size: 1.2rem;
    }
}

/*Para celulares*/
@media (max-width:480px) {
    .buttons a{
        text-align: center;
        border-radius: 7px;
        font-size: 1.2rem;
    }
}




/*-----------------------------------Estilos Main-Index-------------------------------*/

#main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}

/*Estilos Main > Product Info-------------------------------*/

.product-info{
    width: 80%;
    color: #6c6c6c;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    padding: 0.5rem;
    border: 2.5px hwb(210 10% 89%) solid;
    clip-path: polygon(0 0, 94% 0, 100% 6%, 100% 94%, 94% 100%,  6% 100%, 0 94%, 0% 20%);
}

.product-info-text{
    display: flex;
    align-items: center;
    padding: 2rem;
}

.linea-vertical{
    width: 2px;
    height: 2.5rem;
    background-color: #1a1b1c;
    margin: 0.7rem;
}

.product-info-text span{
    width: 7%;
}
 
.product-info-text h2{
    width: 20%;
}

.product-info-text p{
    font-size: 0.8rem;
    width: 70%;
}
/*MediaQueries Tablets-------*/
@media (max-width:769px) {

    .product-info{
        width: 85%;
    }
    .product-info-text{
        flex-wrap: wrap;
    }

    .product-info-text>p{
        flex-basis: 100%;
        line-height: 2;
        font-size: 1.2rem;
    }

    .product-info-text h2{
        flex-basis: content;
    }

    .product-info-text span{
        flex-basis: content;
    }
}

/*MediaQueries celulares------*/
@media (max-width:480px) {
    .product-info{
        width: 90%;
    }

    .product-info-img{
        height: 40vh;
        object-fit: cover;
    }

    .product-info-text{
        flex-direction: column;
        align-items: start;
        padding: 1rem;
        gap: 0.5rem;
    }

    .product-info-text span{
        width: 100%;
    }

    .product-info-text h2{
        width: 100%;
    }

    .product-info-text p{
        width: 100%;
    }


    .linea-vertical{
        display: none;
    }
}


/*Estilos Main > Product Dimensions-------------------------------*/
.container-lineas-horizontal{
    display:flex;
    flex-direction: column;
    width: 80%;
}


.product-dimensions{
    display: flex;
    width: 100%;
    padding: 2rem 1rem;
    align-items: center;
}

.product-dimensions img{
    width: 40%;
    height: 40%;
}

.product-dimensions-info{
    width: auto;
    display: flex;
    flex-direction: column;
}
.product-dimensions-info h2{
    margin-bottom: 1rem;
}


.product-dimensions-tabla{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 3rem;
}

.celda{
    width: 25%;
    font-size: 0.9rem;
}

.linea-horizontal{
    height: 2px;
    background-color:  #1a1b1c;
    width: 100%;
}

/*MediaQueries tablets------*/
@media (max-width:800px) {

    .container-lineas-horizontal{
        width: 85%;
    }

    .product-dimensions img{
        width: 50%;
        height: 50%;
    }

    .celda{
    width: 35%;
    font-size: 1.2rem;
}
}

/*MediaQueries celulares------*/
@media (max-width:600px) {
    .product-dimensions{
        flex-direction: column;
    }

    .product-dimensions-info{
        order: 2;
       
    }

    .product-dimensions img{
        order: 1;
        width: 90%;
        height: 90%;
        margin: 0.8rem 0;
    }
}

/*Estilos Main > Gallery Product-------------------------------*/

.section-gallery-product{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 0.5rem;
    border: 2.5px hwb(210 10% 89%) solid;
    clip-path: polygon(0 0, 94% 0, 100% 6%, 100% 94%, 94% 100%,  6% 100%, 0 94%, 0% 20%);  
}

.section-gallery-product>h2{
    margin: 1rem 0;
}

.gallery-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.gallery-product>img{
    width: 25vw;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transiciones suaves para transform y opacity */
}

.gallery-product>img:hover {
    transform: scale(1.1); /* Expande la imagen al 110% */
    opacity: 0.5; /* Reduce la opacidad al 80% */
}

/*MediaQueries tablets------*/
@media (max-width:1150px) {

    .section-gallery-product{
        width: 85%;
    }

    .gallery-product>img{
        width: 40vw;
    }
}


/*MediaQueries celulares------*/
@media (max-width:720px) {
  
    .gallery-product>img{
        width: 80vw;
    }
}

/*Estilos Main > Coverage Areas-------------------------------*/
.coverage-areas{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 2rem 1rem;
    gap: 1.5rem;
}


.container-areas{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}


.container-areas>div{
    width: 15%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

/*MediaQueries tablets------*/
@media (max-width:800px) {
    .container-areas>div{
        width: 30%;
    }
}

/*MediaQueries celulares------*/
@media (max-width:600px) {
    .container-areas{
        flex-direction: column;
        align-items: center;
    }

    .container-areas>div{
        width: 70%;
        font-size: 1.5rem;
    }

}

/*Estilos Main > Precios-------------------------------*/

.types-shipping{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/img2.jpg");
    height: 100vh;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.container-shiping{
    height: 60%;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(26, 27, 28, 0.8);
    padding: 2rem 2.5rem;
}

.container-shiping-text{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.pricing{
    font-size: 4vw;
    color: whitesmoke;
    margin: 0.5rem 0 1rem 0;
}

.container-shiping p{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.container-shiping a{
    padding: 0.6rem 3rem;
    border:1px whitesmoke solid;
    text-align: center;
}

.container-shiping a:hover{
    background-color: #8b9cb1;
    color: black;
}

@media (max-width:1000px) {
    .types-shipping{
        justify-content: center;
        gap: 5vw;
    }
    
}

@media (max-width:900px) {
    .types-shipping{
        flex-direction: column;
    }
    .container-shiping{
        height: auto;
        width: 80%;
        padding: 1rem;
    }
    .container-shiping>a{
        margin: 1rem 0;
        font-size: 1.3rem;
    }
    .pricing{
        font-size: 2rem;
    }
}



/*-----------------------------Estilos Compra-------------------------------*/

#grid-compra {
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "aside aside"
        "footer footer";
    grid-template-columns: 100%; /* Una sola columna en dispositivos pequeños */
    width: 100%;
}


#aside-compra{
    grid-area: aside;
    background-color: #111111;
    color: whitesmoke;
}

#header-compra{
    grid-area: header;
}


.container-envio-select strong{
    font-size: 1.2rem;
}

.container-postal input,
.container-envio-select select{
    width: 100%;
    height: 30px;
    border: 2px solid whitesmoke; /* Borde blanco */
    background-color: #111111; /* Fondo oscuro */
    color: whitesmoke;
    outline: none;
    transition: all 0.3s ease;
    padding: 2px;
}

#container_resumen_compra{
    font-size: 0.9rem;
    gap: 0.2rem;
}


#container_btn_buy{
    border: 1px whitesmoke solid;
    text-decoration: none;
    padding: 0.5rem 0;
}


#main-compra{
    grid-area: main;
}

#main-compra img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

#footer_compra{
    grid-area: footer;

}

@media (min-width: 992px) { /* Breakpoint: lg */
    .nav-menu-collapse {
        height: auto; 
    }

}


@media (min-width: 768px) { /* Breakpoint: sm */
    #grid-compra {
        grid-template-areas:
            "header header"
            "aside main"
            "footer footer";
        grid-template-columns: 1.5fr 3.5fr; /* Aside más pequeño, Main más grande */
        justify-items: start;
        grid-template-rows: auto 1fr auto; /* Altura dinámica */
    }
    
    #aside-compra{
        height: 100vh;
    }
}


/*-----------------------------Estilos Testimonios-------------------------------*/
.grid-testimonio {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 3fr; /* Aside más pequeño, Main más grande */
    justify-items: start;
    grid-template-rows: auto 1fr auto; /* Altura dinámica */
    background-color: #111111;
    color: #6c6c6c;
    font-family: "Raleway", serif;  
}


/*Estilos Testimonios - Header -------------------------------*/
#header-testimonio {
    grid-area: header;
}


/*Estilos Testimonios - Aside -------------------------------*/

#aside-testimonio {
    grid-area: aside;
    gap: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-self: stretch;
}

.container-title-aside{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}


.container-title-aside h2{
    font-size: 1.5rem;
    color: #111111;
}

.container-title-aside img{
    width: 40px;
    height: 40px;
}

.aside-grupo-filtro{
    border: none;
    display: flex;
    flex-direction: column;
    gap:0.7rem;

}

.aside-grupo-filtro legend{
    margin-bottom: 10px;
    color: #111111;
    font-weight: 600;
}

.aside-grupo-filtro  label{
    font-size: 0.9rem;
    margin: 0 10px;
    letter-spacing: 1px;
}

.aside-grupo-filtro input[type="radio"] {
    accent-color: #111111;
}

/*Estilos Testimonios - Main -------------------------------*/
#main-testimonio {
    grid-area: main;
    display: flex;
    gap: 1rem;
    align-content: start;
    padding: 1rem;
    flex-wrap: wrap;
    justify-self: stretch;
    height: 100vh;
}

.card-testimonio {
    display: grid;
    background-color: whitesmoke;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    color: #111111;
    max-height: 300px;
    height: 45vh;
    width: 30%; 
}

.card-testimonio-contenido{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-image: url("../img/g3.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

    overflow: hidden;
}

.card-testimonio-contenido::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Reutiliza la misma imagen de fondo */
    background-size: inherit;
    background-position: inherit;
    filter: blur(3px); /* Desenfoque */
    z-index: 1;
}

.card-testimonio-contenido p {
    padding: 0.5rem;
    position: relative; /* Coloca el texto sobre el fondo */
    z-index: 2;
    text-align: center;
    color: whitesmoke;
    font-size: 1.2rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}


.card-testimonio-info-usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

/* Usuario */
.card-testimonio-usuario {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Imagen del usuario */
.card-testimonio-usuario img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
}

/* Icono Like */
.card-testimonio-usuario-like img{
    width: 40px;
}



#footer-testimonio {
    grid-area: footer;
}



/* 📱 Responsividad: Diseño para pantallas pequeñas */
@media (max-width: 1000px) {
    .grid-testimonio {
        grid-template-areas:
            "header header"
            "aside aside" /* Aside toma toda la fila */
            "main main"   /* Main pasa debajo de Aside */
            "footer footer";
        grid-template-columns: 100%; /* Una sola columna en dispositivos pequeños */
        width: 100%;
    }

    /*Aside Responsive------------------------------*/
    .container-title-aside{
        justify-content: center;
    }

    .aside-grupo-filtro{
      flex-direction: row;
      justify-content: space-around;
    }
    
    .aside-grupo-filtro legend{
        font-size: 1.4rem;
    }

    .aside-grupo-filtro label{
        font-size: 1.3rem;
    }

    #main-testimonio{
        justify-content: center;
        height: auto;
    }

    .card-testimonio {
        width: 80%;
    }
}






/*-----------------------------Estilos Footer-------------------------------*/

footer{
    background-color: #1a1a1a;
    color: whitesmoke;
    
}

#footer_compra{
    grid-area: footer;

}

#footer_logo{
    display: block;
    width: 170px;
}

#container_footer_socials i{
    color: whitesmoke;
}


#container_footer_contact{
    font-size: 1rem;
}

@media (min-width: 768px) { /* Breakpoint: sm */

    #container_footer_contact{
        font-size: 1.25rem;
    }

}